*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('images/realestate.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #ff7200;
    color:#333;
    
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header h1{
    font-size: 2.5rem;
    margin-bottom: 0.9rem;
}
header p{
    font-size: 1.2rem;

}
/*section container*/
section{
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}
section h2{
    font-size: 1.8rem;
    margin-bottom: rem;
    color: #2c3e60;
    border-bottom: 2px solid #2c3e60;
    padding-bottom: 0.5rem;
}
/*room listings*/
.room-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;    
}
.room{
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    
}
.room h3{
    margin-bottom: 0.5rem;
    color: #bcbcbc;
}
.room p{
    font-size: 0.95rem;
}

.space-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: #f9f9f9;

}
.space-card img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.space-card img:hover {
    transform: scale(1.05);
}


/*Amenities*/
.amenities ul{
    list-style: square;
    padding-left: 1.5rem;
}
/*contact section */
.contact-info{
    background-color: #f4f4f4;

    padding: 1rem;
    border-radius: 8px;
}
.contact-info p{
    margin-bottom: 0.5rem;
}
/*Contact form */
form{
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    color: #ff7200;
    font-weight: bolder;
}
form input, 
form textarea{
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}
form textarea{
    resize: vertical;
    min-height: 120px;
}
form button{
    background-color: #2980c9;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
form button:hover{
    background-color: #1f6391;
}
/*footer*/
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size:0.9rem;
}